@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fonte: "Amarante", serif;
    --cor-fundo: #000000;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--cor-fundo);
    color: white;
}

.main__forum {
    display: flex;
    flex: 3;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 20%;
}

.main__forum__write {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding-top: 2%;
    padding-bottom: 1%;
}

.main__forum__post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    background-color: dimgray;
    gap: 16px;
    width: 600px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-word;
}

.main__forum__post__campo {
    border-radius: 5px;
    height: 30px;
    width: 500px;
    padding-left: 2%;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-word;
}

.main__forum__message {
    display: flex;
    border-radius: 5px;
    height: 200px;
    width: 500px;
    padding: 3%;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-word;
    overflow-y: auto;
}

.main__forum__botao {
    border-radius: 5px;
    height: 40px;
    width: 120px;
    background-color: red;
    color: white;
    font-family: var(--fonte);
    font-size: 1.5em;
}

.main__forum__write__title {
    font-family: var(--fonte);
    font-size: 2em;
}

.main__forum__new__post__title {
    font-family: var(--fonte);
    color: white;
    font-size: 2em;
    padding-top: 2%;
}

.main__forum__new__post__user {
    font-family: var(--fonte);
    color: white;
    font-size: 1.3em;
}

.main__forum__new__post__message {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-word;
    overflow-y: auto;
}

.aside__forum {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: dimgray;
    text-align: center;
    gap: 3%;
    padding-top: 2%;
    width: 300px; /* Set a fixed width for the aside */
    border-radius: 20px;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 1%;
    padding-top: 1%;
}

.aside__forum__topic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 95%;
    height: 10%;
    border-radius: 20px;
    text-align: center;
    line-height: 150%;
    overflow: hidden; /* Prevent content overflow */
    height: 100px; /* Set a fixed height for the topics */
}

.aside__forum__title {
    font-family: var(--fonte);
    font-size: 2em;
}

.aside__forum__topic__link {
    font-size: 1em;
    text-decoration: none;
    color: white;
}