@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fonte: "Amarante", serif;
    --cor-fundo: #000000;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--cor-fundo);
    background-image: url('https://raw.githubusercontent.com/evertonmissiagia/bit-trevoso-site/refs/heads/main/assets/img/background-images/page-home-fundo.jpg');
    background-repeat: no-repeat;
}

.header {
    padding: 1.5%;
}

.nav {
    display: flex;
    align-items: center;
    font-family: var(--fonte);
    font-size: 1.56rem; /* A medida rem sempre é calculada com base no valor em px dividido por 16.*/
    gap: 35px;
    font-weight: 400;
}

.nav__items {
    text-decoration: none;
    color: white;
}

.main__home {
    display: flex;
    flex-direction: column;
    font-family: var(--fonte);
    flex: 1;
    font-size: 1.56rem;
    font-weight: 500;
    color: white;
    padding: 10% 5%;
}

.main__home__texto__abertura {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    margin: auto;
    margin-right: 40%;
    margin-left: 5%;
    margin-bottom: 10%;
    gap: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    font-family: var(--fonte);
    font-size: 1.25rem;
    color: white;
    padding: 1%;
}

/* Media Query aplica o código se a condição estipulada for verdadeira */

@media (max-width: 768px) {  /* Tamanho ajustado para tablet */
    .header {
        padding: 2%;
    }
    
    .nav {
        flex-direction: column;
        gap: 20px;
        font-size: 1.6rem;
    }

    .main__home {
        padding: 18% 5% 5% 5%;
        
    }
    
    .main__home__texto__abertura {
        justify-content: center;
        margin: 10px 50px 50px 50px;
    }
}

@media (max-width: 425px) { /* Tamanho ajustado para celular */
    .header {
        padding: 5%;
    }
    
    .nav {
        flex-direction: column;
        gap: 20px;
        font-size: 1.2rem;
    }

    .main__home {
        padding: 8% 15%;
        font-size: 1rem;
    }
    
    .main__home__texto__abertura {
        margin: 10px 2px 50px 2px;
    }

    .footer {
        font-size: 1rem;
    }
}